body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
}

video {
    border: 2px solid white;
    width: 600px;
    height: 400px;
}
